<h3>{{name}}</h3>
<p>{{placeType}}</p>
<p>{{location.address}}</p>

<div id='mapDetail' style='width: 400px; height: 300px;'></div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiYWxpZW5yb29tIiwiYSI6ImNraGNrbnZrbTAyZmoyeW85MDFuNWtmZ3MifQ.vIc80xhiW7ttcZHOsbYOjA';
  const map = new mapboxgl.Map({
container: 'mapDetail',
style: 'mapbox://styles/mapbox/streets-v11',
zoom: 15,
center: [ {{location.coordinates}} ]
})
new mapboxgl.Marker()
            .setLngLat([ {{location.coordinates}} ])
            .addTo(map)
</script>