<!-- prettier-ignore-start -->

<h3>private</h3>
<a href="/place/create">
  <h3>Create Place</h3>
</a>

<div id="map" style="width: 100%; height: 400px"></div>

<hr />
{{#each places}}
<h4>{{ this.name }}</h4>
<p>{{ this.placeType }}</p>

<a href="/place/update/{{ this._id }}"><button>update</button></a>
<a href="/place/delete/{{ this._id }}"><button>delete</button></a>

{{/each}}
<br />
<a href="/">Return to Public</a>

<script>
  window.onload = () => {
    {{#each places}}
    new mapboxgl.Marker().setLngLat([{{location.coordinates}}]).addTo(map)
  {{/each}}
  }
</script>
<!-- prettier-ignore-end -->
