<p>Edit {{placeToEdit.name}}</p>
<p>{{placeToEdit.placeType}}</p>
<form action="/places/edit/{{placeToEdit._id}}" method="POST">
  <label for="name">Change Name:
    <input type="text" id="name" name="name" >
  </label>
  <label for="placeType">Change Place Type:
    <select name="placeType" id="placeType">
      <option value="coffee shop">Coffe shop</option>
      <option value="bookstore">Bookstore</option>
    </select>
   </label>
   <input type="text" name="lat" hidden>
   <input type="text" name="lng" hidden>
   <button type="submit">Edit place</button>
</form>

<div id='map' style='width: 100%; height: 450px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoidG9tYXNzY2F0dGluaSIsImEiOiJja2hkZ2VkemQwYzhvMzBwYzE4YmRwMDZnIn0.IhJp4dvYfAhH834x8qbxXw';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
 center: [{{ placeToEdit.location.coordinates }}],
 zoom: 12
});

 new mapboxgl.Marker().setLngLat([{{ placeToEdit.location.coordinates }}]).addTo(map)

const gc = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
  })
  gc.on('result', e => {
    const { result: { center, text } } = e
    const $nameInput = document.querySelector('#name')
    $nameInput.value = text
    document.querySelector('#lng').value = center[0]
    document.querySelector('#lat').value = center[1]
  })

  map.addControl(gc)

</script>