<h1>These are your places</h1>

<div id='map' style='width: 100%; height: 450px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoidG9tYXNzY2F0dGluaSIsImEiOiJja2hkZ2VkemQwYzhvMzBwYzE4YmRwMDZnIn0.IhJp4dvYfAhH834x8qbxXw';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11'
});

  {{#each places}}
  new mapboxgl.Marker().setLngLat([{{ location.coordinates }}]).addTo(map)
  {{/each}}

</script>

{{#each places}}
  <h3>{{name}}</h3>
  <p>{{placeType}}</p>
  <button><a href="/places/edit/{{_id}}">Edit place</a></button>
  <button><a href="/places/delete/{{_id}}">Delete place</a></button>
{{/each}}
<br>
<button><a href="/places/create">Create a new place</a></button>