<h1>{{name}} - <span style='color:#858585'>{{ country }}</span>
</h1>
<h4>{{type}}</h4>
<hr>
<h4>{{address}}</h4>
<hr>

<a href="/edit/{{_id}}"><button>Edit place</button></a>
<a href="/delete/{{_id}}"><button>Delete place</button></a>
