<div id='map' style='width: 60%; height: 300px;'></div>
<div>
  <form action="/places/edit/{{place._id}}" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{place.name}}" required>
    <label for="placeType">Place Type:</label>
    <select name="placeType" id="placeType">
      <option value="{{place.placeType}}" selected hidden>{{place.placeType}}</option>
      <option value="Bookstore">Bookstore</option>
      <option value="Coffee Shop">Coffee Shop</option>
    </select>
    <input type="text" hidden name="lng" id="lng" value="{{place.location.coordinates.[0]}}">
    <input type="text" hidden name="lat" id="lat" value="{{place.location.coordinates.[1]}}">
    <button type="submit">Update place</button>
  </form>
</div>
<script>
  window.onload = () => {
  const geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl
    })
    geocoder.on('result', event => {
        const [lng, lat] = event.result.center
        const $lat = document.querySelector('#lat')
        const $lng = document.querySelector('#lng')
        $lat.value = lat
        $lng.value = lng
    })
    map.addControl(geocoder);
    let marker = new mapboxgl.Marker()
      .setLngLat([{{place.location.coordinates}}])
      .addTo(map);
    map.flyTo({
      center: [{{place.location.coordinates}}]
    })
  }
</script>