<main class="edit-place">
  <h2>Edit Place</h2>
  {{#if this.error}}
  <div class="error">
    {{this.error}}
  </div>
  {{/if}}
  <form method="POST" action="/places/{{ this.place._id }}">
    <div id='map' style='width: 400px; height: 300px;'></div>
    <hr>
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="{{ this.place.name }}" required>
    </div>
    <div>
      <label for="placeType">Place Type</label>
      <select name="placeType" id="placeType" required>
        <option value="" selected disabled>Select Type</option>
        <option value="Bookstore">Bookstore</option>
        <option value="Coffee Shop">Coffee Shop</option>
      </select>
    </div>
    <div>
      <label for="address">Address</label>
      <input type="text" name="address" id="address" value="{{ this.place.location.address }}" required>
    </div>
    <div>
      <label for="longitude">Longitude</label>
      <input type="number" name="longitude" id="longitude" value="{{ this.place.location.coordinates.[0] }}" required>
    </div>
    <div>
      <label for="latitude">Latitude</label>
      <input type="number" name="latitude" id="latitude" value="{{ this.place.location.coordinates.[1] }}" required>
    </div>
    <button type="submit">Edit Place</button>
  </form>
</main>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibGV5bGExMSIsImEiOiJjazM2Ym45bDUwMDFhM25veWtub3JiZ2NzIn0.UaHr7TNc5cvlkQZnczOZkQ';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
  const geoCoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
  })
  map.addControl(geoCoder)
  geoCoder.on('result', ({ result }) => {
    const name = result.text;
    const address = result.place_name.substring(name.length + 2);
    const [longitude = 0, latitude = 0] = result.center;
    document.getElementById('name').value = name
    document.getElementById('address').value = address;
    document.getElementById('longitude').value = longitude;
    document.getElementById('latitude').value = latitude;
  })
</script>